services:
  # Backend Service
  - type: web
    name: portfolio-backend
    runtime: node
    plan: free
    env: node
    rootDir: ./backend
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 10000

  # Frontend Service
  - type: web
    name: portfolio-frontend
    runtime: static
    plan: free
    rootDir: ./frontend
    buildCommand: npm run build
    publishPath: ./build
    headers:
      - path: /**
        name: Cache-Control
        value: no-cache
      - path: /static/**
        name: Cache-Control
        value: public, max-age=31536000, immutable
    routes:
      - type: rewrite
        source: /anas-portfolio/**
        destination: /$1
    envVars:
      - key: REACT_APP_API_URL
        value: https://anas-portfolio-jje3.onrender.com
